<!--!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" -->


<suite name="Suite1" verbose="1">
    <test name="All server test">
        <classes>
            <class name="ContactAbTests"/>
        </classes>
    </test>
</suite>


<!--
<suite name="Suite1" verbose="1">
    <test name="All server test">
        <classes>
            <class name="AutosecretaryTests"/>
            <class name="ContactAbTests"/>
            <class name="ContactPersonalTests"/>
            <class name="ChannelTests"/>
            <class name="GroupChatTests"/>
            <class name="PersonalChatTests"/>
            <class name="CallHistoryTests"/>
            <class name="SaveSettingsTest"/>
            <class name="StatusChangeTests"/>
        </classes>
    </test>
</suite>

<suite name="Suite_test" verbose="1">
    <test name="Just test">
        <classes>
            <class name="TestJustTest"/>
        </classes>
    </test>
</suite>
-->